<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="#gastos"><i class="fa fa-fw fa-dashboard"></i> GASTOS</a>
        </li>
        <li>
            <a href="#ingresos"><i class="fa fa-fw fa-bar-chart-o"></i> INGRESOS</a>
        </li>
        <li class="active">
            <a href="#gestion-categorias"><i class="fa fa-fw fa-dashboard"></i>ADMIN</a>
        </li>
    </ul>
</div>
