<!-- SEARCH AREA -->
<form class="search-area form-group search-area-white">
    <div class="container">
        <div class="row">
            <div class="col-md-7 clearfix">
                <label><i class="fa fa-search"></i><span>Busco </span>
                </label>
                <div class="search-area-division search-area-division-input">
                    <input class="form-control" type="text" placeholder="Crema de cara" />
                </div>
            </div>
            <div class="col-md-4 clearfix">
                <label><i class="fa fa-map-marker"></i><span>de la marca</span>
                </label>
                <div class="search-area-division search-area-division-location">
                    <input class="form-control" type="text" placeholder="Yves Rocher" />
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-block btn-white search-btn" type="submit">Buscar</button>
            </div>
        </div>
    </div>
</form>
<!-- END SEARCH AREA -->
