<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i></i>Nueva categoría</h3>
            </div>
            <div class="panel-body">
                <div>
                    <form class="form-horizontal">
                        <div class="control-group">
                          <label class="control-label" for="inputEmail">Nueva categoría</label>
                          <div class="controls">
                            <input type="text" ng-model="new_category" placeholder="categoría"/>
                          </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
